@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap');

html,
body {
  margin: 0;
  padding: 0;
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

.navbar-container {
  height: 10%;
  display: flex;
  background-color: transparent;
}

.navbar-title-container {
  padding-left: 3%;
}

.navbar-title {
  color: black;
  font-family: 'Permanent Marker', cursive;
  cursor: pointer;
  font-size: 1.1rem;
  text-decoration: none;
}

.navbar-list {
  display: flex;
  width: 300px;
  position: absolute;
  right: 0;
  align-items: baseline;
  justify-content: space-around;
  list-style-type: none;
  padding-right: 3%;
  padding-top: 0.5%;
}
.navbar-list li:visited {
  text-decoration: none;
  color: black;
}

.featGigs,
.featDjsTitle {
  margin-left: 20%;
  margin-top: 40px;
}
.featDjsTitle {
  margin-bottom: 0;
}

.cardSub {
  font-size: 14px;
  display: flex;
  justify-content: center;
}

.djs-hero-image {
  background-image: url('./djsheroimage.png');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100vw;
  height: 75vh;
}

.gigs-hero-image {
  background-image: url('./gigsheroimage.png');
  background-size: contain;
  background-repeat: no-repeat;
  width: 1000px;
  height: 700px;
  box-sizing: border-box;
  margin: auto;
}

.containerSearch {
  height: 100%;
  width: 50vw;
}

.dj-searchbar {
  height: auto;
}

.dj-searchbar form {
  position: relative;
}

#dj-search-input {
  height: 2.5rem;
  width: 30rem;
  border: 0;
  background: rgb(238, 235, 235);
  padding: 0.2% 1% 0.2% 5%;
  border: 1px solid rgb(141, 141, 141);
  border-radius: 10px;
  outline: none;
  font-size: 16px;
}

.dj-searchbar-search-icon {
  position: absolute;
  left: 1.3%;
  top: 20%;
  color: #252525;
}

.exploreDjs,
.exploreGigs {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.filterBy {
  color: rgb(116, 113, 113);
  padding: 5px;
  margin-top: 22px;
}

.explore-title {
  margin-right: 25px;
}

.slider {
  width: 100%;
  height: 1000px;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.slide {
  min-width: 100%;
  height: 1000px;
  transition: 0.5s;
  display: flex;
  justify-content: center;
  align-items: center;
}

#goLeft {
  position: absolute;
  left: 300px;
  width: 5%;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

#goRight {
  position: absolute;
  right: 300px;
  width: 5%;
  border: none;
  background: transparent;
  outline: none;
  cursor: pointer;
}

.druiid-slide,
.graphyte-slide {
  display: flex;
  flex-direction: column;
}

.druiid-slide-img,
.graphyte-slide-img,
.center-affairs-img,
.gramps-img {
  margin-top: 0;
  width: 500px;
  height: 500px;
  margin: 0;
}
.slide-text {
  margin: 0;
  font-style: oblique;
  text-align: center;
  color: black;
  font-weight: bold;
}

.App {
  text-align: center;
  margin-top: 20px;
}

.top-dialog-form {
  display: flex;
  justify-content: space-between;
  padding: 5px;
}

.footer {
  padding: 1rem;
  background-color: #252525;
  position: static;
  bottom: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
}

.footer-info {
  color: white;
  width: 70%;
  box-sizing: inherit;
  margin: auto;
  display: flex;
  flex-direction: row;
}
.footer-column-1,
.footer-column-2,
.footer-column-3 {
  text-align: center;
  width: 20%;
}

.footer-column-4 {
  width: 100%;
  text-align: center;
}

.subscribe-footer {
  font-weight: 600;
}

.footer-input {
  width: 250px;
  padding: 10px;
}

.footer-submit {
  cursor: pointer;
  padding: 10px;
  margin-left: 5px;
  font-weight: 600;
}
.dj-card {
  box-sizing: border-box;
  margin: auto;
  width: 60%;
}
.pagination {
  display: flex;
  justify-content: center;
}

.profile-cover-img {
  margin: auto;
  width: 80%;
  height: 300px;
  box-sizing: border-box;
  position: relative;
}

.cover-img {
  box-sizing: inherit;
  margin: auto;
  width: 100%;
  height: 300px;
  z-index: -5;
  object-fit: cover;
}

.book-me-button {
  bottom: 0 !important;
  right: 0 !important;
  position: absolute !important;
  padding: 15px !important;
  z-index: 1 !important;
  display: flex !important;
}

.user-avatar {
  border: rgba(144, 143, 137, 0.37) 1px solid;
  width: 220px;
  height: 220px;
  border-radius: 50%;
  margin-left: 130px;
  margin-top: -250px;
  z-index: 1;
  position: relative;
  object-fit: cover;
}

.avatar-photo-icon {
  position: absolute;
  bottom: 0;
  left: 0;
  margin-left: 300px;
  z-index: 2;
  background-color: whitesmoke;
  border: cornsilk;
  border-radius: 50%;
}

.cover-img-icon {
  position: absolute;
  top: 0;
  right: 0;
  background-color: whitesmoke;
  border: cornsilk;
  border-radius: 50%;
}

.profile-block {
  padding-top: 30px;
  width: 80%;
  height: 800px;
  background-color: rgba(236, 229, 219, 0.39);
  box-sizing: border-box;
  margin: auto;
}
.profile-block-row {
  width: 100%;
  display: flex;
}
.profile-info-column {
  width: 30%;
  border-radius: 10%;
  background-color: white;
  border: rgba(144, 143, 137, 0.37) 1px solid;
  padding: 30px;
  position: relative;
  margin-top: 30px;
}

.edit-icon {
  position: absolute;
  top: 0;
  right: 0;
  padding: 5px;
}

.profile-about-column {
  width: 100%;
  margin-left: 100px;
  border-radius: 5%/10%;
  padding: 20px;
  background-color: white;
  border: rgba(144, 143, 137, 0.37) 1px solid;
  position: relative;
  margin-top: 30px;
}

.commendations {
  text-align: center;
  font-style: oblique;
  font-weight: 500;
  margin-top: 50px;
}

.open-gigs-column {
  width: 100%;
  height: 500px;
  border-radius: 5%/20%;
  padding: 20px;
  background-color: white;
  border: rgba(144, 143, 137, 0.37) 1px solid;
  box-sizing: border-box;
  margin-top: 20px;
  margin-bottom: 40px;
}

.findDjs-row-1 {
  display: flex;
}

.dj-card-container {
  display: flex;
  justify-content: center;
  width: 90vw;
  border: red 1px solid;
}

.findDjs-cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  border: blue 1px solid;
  width: 100%;
  margin-top: 20px;
  margin: 0;
}

.venue-avatar {
  object-fit: contain;
}

.venue-card-img {
  position: relative;
}

.fab {
  position: absolute;
  bottom: 0;
  right: 0;
  margin-bottom: 5px;
  margin-right: 5px;
}
.venue-card {
  box-sizing: border-box;
  margin: auto;
  width: 75%;
}
.venue-cards {
  display: flex;
  flex-wrap: wrap;
  margin-top: 20px;
}

.venue-card-button {
  display: flex;
  justify-content: center;
}

.center-affairs-img,
.gramps-img {
  margin-left: 40px;
}

.slide-link {
  color: black;
  display: flex;
  justify-content: center;
  font-weight: 500;
}

.signup-radio {
  display: flex;
  justify-content: center;
  font-size: 18px;
}

.radio-button {
  margin-top: 20px;
  margin-left: 5px;
  margin-right: 5px;
}

.radio-prompt {
  margin-right: 8px;
}

.dj-card-link {
  margin-left: 100px;
}

.main-container-home {
  background-image: linear-gradient(
      to bottom,
      rgba(245, 246, 252, 0.52),
      rgba(0, 0, 0, 0.616)
    ),
    url(./images/hero-image_2.png);
  background-size: cover;
  height: 90vh;
  width: 100vw;
  position: relative;
}

.main-container-home__text__title,
.main-container-dj__text__title {
  /* font-family: 'Permanent Marker', cursive; */
  /* text-shadow: 2px 2px #030303; */
  font-size: 3.2rem;
  font-weight: 800;
  margin-bottom: 0;
}

.main-container-home__text__caption {
  font-size: 1.3rem;
  padding-left: 1%;
  text-shadow: 0.5px 0.5px #3a3a3a83;
  margin-top: 0;
}

.main-container-home__text,
.main-container-dj__text {
  position: absolute;
  color: white;
  padding-left: 3%;
}

.main-container-home__text {
  bottom: 350px;
}

.main-container-dj__text {
  bottom: 55%;
  padding-left: 10%;
}

.main-container-home-hero__image {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.main-container-home__text__title,
.main-container-home__text__caption,
.main-container-dj__text__title {
  animation: fadeInAnimation ease 3s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
